<div id="insert-products">
    <form id="live-search" action="" class="styled" method="post">
      <fieldset>
        <p>
          Product Search:
        </p>
        <input type="text" class="text-input" id="filter" value="" />
        <span id="filter-count"></span>
      </fieldset>
    </form>
    <br />
    <form id="nrForm" class="numRelForm" action="/changeNumOfRel" method="post">
        <% numOfRelPass.forEach(function(element){ %>
            <div class="well">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="main-well-info">



                            <p><strong><%- element.productName %></strong></p>
                            Number of Related Items:

                            <select class="form-control" id="select<%=element.productID%>" name="numOfRel<%=element.productID%>">
              <option id="option<%=element.productID %>1" value="1" >
                1
              </option>
              <option id="option<%=element.productID %>2" value="2">
                2
              </option>
              <option id="option<%=element.productID %>3"value="3">
                3
              </option>
              <option  id="option<%=element.productID %>4"value="4">
                4
              </option>
              <option  id="option<%=element.productID %>5"value="5">
                5
              </option>
              <option  id="option<%=element.productID %>6"value="6">
                6
              </option>
            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <ol class="pull-right">

                            <%

                  var eleNum = element.numOfRel;
                  var eleID = element.productID;
                  var arrOfRel = relatedProducts[eleID];
                    for (var i = 0; i < eleNum; i++){
                %>
                                <li>

                                  <%
                                  if (arrOfRel) { if(arrOfRel[i]){ %>

                                    <%= arrOfRel[i] %>
                                  <%} else{ %>
                                    not in db
                                  <%} }else { %>
                                    not in db
                                  <% }
                                  %>
                                </li>
                                <% } %>
                        </ol>
                        <a forProduct="<%=element.productID %>" NOR="<%=element.numOfRel%>" href="#" class="open-rp pull-right">Edit</a>
                      </div>
                        </div>
                      </div>
                        <%  })
      %>

                <button id="submitNumOfRel" class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
