<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
	<script type="text/javascript">
	ShopifyApp.init({
		apiKey: '55512454cd904b56d38a12c8573aa27a',
		shopOrigin: 'https://test-store-1994-1994.myshopify.com'
	});
	</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

	<title><%= title %></title>

  </head>
  <body>


        <div class="row">
      <div class="large-6 columns">
        <h1><%= title %></h1>
        <div class="row collapse">
          <div class="small-12 columns">
            <a href="/addLiquid">Add Liquid</a>
          </div>
          <div class="small-12 columns">
            <a href="/addProduct">Add A Product</a>
          </div>
        </div>
      </div>
    </div>
        <h2>Products</h2>
        <p>

        </p>
        <div id="insert-products">
          <form  class="numRelForm" action="/changeNumOfRel" method="post">
          <% var stringProducts =  JSON.stringify(products);
          var parsedProducts = JSON.parse(products);

          parsedProducts.forEach(function(element){ %>
            <div class="well">


            <p><strong><%- element.title %></strong></p>
            Number of Related Items:

                <select class="form-control" id="select<%=element.id%>" name="numOfRel<%=element.id%>">
                  <option id="option<%=element.id%>1" value="1" >
                    1
                  </option>
                  <option id="option<%=element.id%>2" value="2">
                    2
                  </option>
                  <option  selected="selected" id="option<%=element.id%>3"value="3">
                    3
                  </option>
                  <option  id="option<%=element.id%>4"value="4">
                    4
                  </option>
                  <option  id="option<%=element.id%>5"value="5">
                    5
                  </option>
                  <option  id="option<%=element.id%>6"value="6">
                    6
                  </option>
                </select>

            </div>
        <%  })
          %>
          <button id="submitNumOfRel" class="btn btn-primary" type="submit">Submit</button>
          </form>

        </div>

        <script type="text/javascript">
    	ShopifyApp.ready(function(){
    		ShopifyApp.Bar.initialize({
    			title: '<%= title %>',
    			buttons: {
    				primary: {
    					label: "Save",
    					message: 'bar_save'
    				},
    			}
    		});
    		ShopifyApp.Bar.loadingOff();
    	});
      var newArr = [<%-numOfRelPass%>];
      var defaultNum = <%- defaultNum %>;
      var strDef = defaultNum.toString();
      newArr.forEach(function(element){
        var lastDigit = element.toString().slice(-1);
        if (lastDigit !== strDef) {
          var strEle = element.toString();
          var removeDefault = strEle.substring(0, strEle.length - 1);
          removeDefault = removeDefault + defaultNum;
          $('#option' + removeDefault).removeAttr('selected')
          $('#option' + element).attr('selected','selected') }
      });

      // var stringProducts = <%- JSON.stringify(products) %>
      // var parsedProducts = JSON.parse(stringProducts);
      //   parsedProducts.forEach(function(element){
      //     $('#insert-products').append("<p>" +
      //     element.title + "</p>")
      //   });
    	</script>

      </body>
    </html>
