<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
	<script type="text/javascript">
	ShopifyApp.init({
		apiKey: '55512454cd904b56d38a12c8573aa27a',
		shopOrigin: 'https://test-store-1994-1994.myshopify.com'
	});
	</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

	<title><%= title %></title>

  </head>
  <body>


        <div class="row">
      <div class="large-6 columns">
        <h1><%= title %></h1>

      </div>
    </div>

        <div id="defaultNum">
          <span>Default Number of Related:</span>
          <form id="defNumForm" action="/changeDefaultNum" method="get" onsubmit="return confirm('Do you really want to submit the form?');">
            <select class="form-control" id="defNumSelect" name="defNum">
              <option value="1" >
                1
              </option>
              <option value="2">
                2
              </option>
              <option value="3">
                3
              </option>
              <option value="4">
                4
              </option>
              <option value="5">
                5
              </option>
              <option value="6">
                6
              </option>
            </select>
            <input type="checkbox" name="changeAll"> Change all products to default?
            <button id="submitNumOfRel" class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>

        <h2>Products</h2>
        <p>

        </p>
        <div id="insert-products">
          <form  class="numRelForm" action="/changeNumOfRel" method="post">
          <% var stringProducts =  JSON.stringify(products);
          var parsedProducts = JSON.parse(products);

          numOfRelPass.forEach(function(element){ %>
            <div class="well">
              <div class="main-well-info">



            <p><strong><%- element.title %></strong></p>
            Number of Related Items:

                <select class="form-control" id="select<%=element%>" name="numOfRel<%=element%>">
                  <option id="option<%=element %>1" value="1" >
                    1
                  </option>
                  <option id="option<%=element %>2" value="2">
                    2
                  </option>
                  <option id="option<%=element %>3"value="3">
                    3
                  </option>
                  <option  id="option<%=element %>4"value="4">
                    4
                  </option>
                  <option  id="option<%=element %>5"value="5">
                    5
                  </option>
                  <option  id="option<%=element %>6"value="6">
                    6
                  </option>
                </select>
                  </div>
                  <ol>
                    <%
                      var slicedNum = element.toString().slice(-1);

                      for (var i = 0; i < slicedNum; i++){
                    %>
                      <li>
                        Product
                      </li>
                    <% } %>
                  </ol>
            </div>
        <%  })
          %>
          <button id="submitNumOfRel" class="btn btn-primary" type="submit">Submit</button>
          </form>

        </div>

        <script type="text/javascript">
    	ShopifyApp.ready(function(){
    		ShopifyApp.Bar.initialize({
    			title: '<%= title %>',
    			buttons: {
    				primary: {
    					label: "Save",
    					message: 'bar_save'
    				},
    			}
    		});
    		ShopifyApp.Bar.loadingOff();
    	});
      var newArr = [<%-numOfRelPass%>];
      var defaultNum = <%- defaultNum %>;
      var strDef = defaultNum.toString();
      $('option').each(function(){
        if (this.value == strDef){
          $(this).attr("selected", 'selected')
        }
      })
      newArr.forEach(function(element){
        var lastDigit = element.toString().slice(-1);
        if (lastDigit !== strDef) {
          var strEle = element.toString();
          var removeDefault = strEle.substring(0, strEle.length - 1);
          removeDefault = removeDefault + defaultNum;
          $('#option' + removeDefault).removeAttr('selected')
          $('#option' + element).attr('selected','selected') }
      });


      function validate(form) {

          // validation code here ...


          if(!valid) {
              alert('Please correct the errors in the form!');
              return false;
          }
          else {
              return confirm('Do you really want to submit the form?');
          }
      }

    	</script>

      </body>
    </html>
